<main class="bg-transparent text-midnight-color">
  <nav class="container flex justify-between items-center mx-auto py-4">
    <a href="/" class="text-xl font-bold">
      <img
        ngSrc="./assets/images/logo.png"
        alt="Logo da página contendo o nome Rodrigo e seu cargo Angular Front-end"
        width="250"
        height="250"
      >
    </a>

    @if (!isMobileView) {
    <ul class="flex space-x-24 font-bold">
      <li><a href="/home" class="text-base text-3xl	hover:underline">Home</a></li>
      <li><a href="/sobre" class="text-base text-3xl hover:underline">Sobre</a></li>
      <li><a href="/projetos" class="text-base text-3xl hover:underline">Projetos</a></li>
      <li><a href="/contato" class="text-base text-3xl hover:underline">Contato</a></li>
    </ul>
  } @else {
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu>
      <a mat-menu-item href="/home" class="text-base text-3xl	hover:underline">Home</a>
      <a mat-menu-item href="/sobre" class="text-base text-3xl hover:underline">Sobre</a>
      <a mat-menu-item href="/projetos" class="text-base text-3xl hover:underline">Projetos</a>
      <a mat-menu-item href="/contato" class="text-base text-3xl hover:underline">Contato</a>
    </mat-menu>
  }
  </nav>
</main>

